<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Fusion.Web</title>
    <link rel="stylesheet" href="http://localhost/Fusion/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="http://localhost/Fusion/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="http://localhost/Fusion/css/bootstrap-datetimepicker.css" asp-append-version="true" />
    <script src="https://use.fontawesome.com/c071cfab21.js"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img width="35px" src="http://localhost/Fusion/mango.png" />Fusion</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial"/>
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item pt-lg-2">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item pt-lg-2">
                            <a class="nav-link" asp-area="" asp-controller="Product" asp-action="ProductIndex">Product</a>
                        </li>
                        <li class="nav-item pt-lg-2">
                            <a class="nav-link" asp-controller="Cart" asp-action="CartIndex">
                                <i class="fa fa-shopping-cart"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted bg-dark">
        <div class="container">
            &copy; 2022 - Fusion.Web 
        </div>
    </footer>
    <script src="http://localhost/Fusion/lib/jquery/dist/jquery.min.js"></script>
    <script src="http://localhost/Fusion/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="http://localhost/Fusion/js/site.js" asp-append-version="true"></script>
    <script src="http://localhost/Fusion/js/bootstrap-datetimepicker.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
